
@{
    ViewBag.Title = "Razor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Razor</h2>

@using(Html.BeginForm("Razor", "Basics", FormMethod.Post))

<form method="post" action="/Basics/Razor">
    @Html.AntiForgeryToken()

    @Html.Label("Email:")
    @Html.TextBox("email")
    @Html.Label("Password:")
    @Html.Password("password")
    @Html.Label("Confirm password:")
    @Html.Password("passwordconfirm")
    <input type="submit" value="Submit me!" />
</form>

